/retina/weights/Resnet50_Final.pth
/weights/ckpt_iter.pth.tar
*.csv
/src/default_config.py
/resources/anti_spoof_models/2.7_80x80_MiniFASNetV2.pth
/resources/anti_spoof_models/4_0_0_80x80_MiniFASNetV1SE.pth
/retina/data/__init__.py
/retina/layers/modules/__init__.py
/retina/layers/__init__.py
/retina/models/__init__.py
/retina/utils/nms/__init__.py
/retina/utils/__init__.py
/src/anti_spoof_predict.py
/retina/utils/box_utils.py
/client.py
/retina/data/config.py
/resources/detection_model/deploy.prototxt
/retina/detect.py
/detector.py
/file_path.txt
/src/data_io/functional.py
/src/generate_patches.py
/retina/data/FDDB/img_list.txt
/main.py
/main_s.py
/src/model_lib/MiniFASNet.py
/models.py
/retina/layers/modules/multibox_loss.py
/src/model_lib/MultiFTNet.py
/retina/models/net.py
/retina/layers/functions/prior_box.py
/retina/utils/nms/py_cpu_nms.py
/retina/weights/readme.md
/retina/models/retinaface.py
/retina/utils/timer.py
/src/train_main.py
/src/data_io/transform.py
/src/utility.py
/retina/data/wider_face.py
/resources/detection_model/Widerface-RetinaFace.caffemodel
